
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Caveat', 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #0FDB54; 
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;    
    
}

header{
    height: 60px;
    background-image: url('../img/paredeTerra.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex; /* Torna o header um contêiner flexível */
    justify-content: center; /* Alinha a imagem horizontalmente */
    align-items: center;

}

nav {
    height: 40px;
    background-image: url(../img/parede\ de\ folhas\ vivas.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;     
    
}

.menu {
    display: flex; /* Mostrar menu no desktop */
    gap: 20px;     /* Espaçamento entre links */
    
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0 40px;
}

main {
    flex: 1;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 50px 15px 50px;
    gap: 15px;
}


footer {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 40px;
}

.form {
    width: 60%;
    height: auto; /* Ajusta a altura para o conteúdo */
    border: 3px solid #0FDB54;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Duas colunas flexíveis */
    grid-template-areas: 
        "nome-label nome-label data-label data-label"
        "nome nome data data"
        "pergunta pergunta informacoes-label informacoes-label"
        "fauna-label fauna informacoes informacoes"
        "flora-label flora informacoes informacoes"
        "upload-label upload-label informacoes informacoes"
        "upload upload informacoes informacoes"
        ". button button .";
    gap: 20px;
}

form#form-login, form#form-cadastro {
    width: 80%;
    max-width: 600px;
    height: auto; /* Ajusta a altura para o conteúdo */
    border: 3px solid #0FDB54;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.nome, #user, #senha, #nome-cadastro, #senha-cadastro, #confirma-senha-cadastro{
    display: flex;
    flex-direction: column;
    grid-area: nome;
    border:2px solid #0FDB54;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    margin: 20px;
}

.data-label {
    display: flex;
    flex-direction: column;
    grid-area: data-label;
}
.data-atualizacao {
    display: flex;
    flex-direction: column;
    grid-area: data;
    max-width: 300px;
    border:2px solid #0FDB54;
    border-radius: 5px;
}

.pergunta-opcao{
    display: flex;
    flex-direction: column;
    grid-area: pergunta;
    align-items: center; 
}
.fauna-label {
    display: flex;
    flex-direction: column;
    grid-area: fauna-label;
    align-items: center;
}
.fauna {
    display: flex;
    flex-direction: column;
    grid-area: fauna;
    align-items: center;
}

.flora-label {
    display: flex;
    flex-direction: column;
    grid-area: flora-label;
    align-items: center;
}
.flora {
    display: flex;
    flex-direction: column;
    grid-area: flora;
    align-items: center;
}


.informacoes-label {
    display: flex;
    flex-direction: column;
    grid-area: informacoes-label;
}
.informacoes {
    display: flex;
    flex-direction: column;
    grid-area: informacoes;
    border:2px solid #0FDB54;
    border-radius: 5px;
    max-width: 600px;
    resize: none;
}

.upload-label {
    display: flex;
    flex-direction: column;
    grid-area: upload-label;
}
.upload {
    display: flex;
    flex-direction: column;
    grid-area: upload;
    font-size: 16px;
}

button {
    width: 97%;
    max-width: 600px;
    grid-area: button;
    padding: 10px;
    margin: 10px;
    background-color: #353535;
    border: 2px solid #0FDB54;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0FB43A;
    color: aliceblue;
}

.card {
    min-width: 220px;
    max-width: 220px;
    height: 300px;
    border: 3px solid #0FDB54;
    border-radius: 10px;
    background-image: url('../img/fundoMontanhas.png');
    background-size: cover;
    padding: 10px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #353535;
    
    
}

.titulo-card {
    width: 100%;
    height: 32px;
    background-image: url('../img/images.png');
    background-size: cover;
    color:#353535;
    text-align: center;

    
    
}

.conteudo-card {
    width: 90%;
    height: 100px;
    background-image: url('../img/images.png');
    background-size: contain;
    color:hsl(0, 0%, 21%);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    overflow: auto;
    scrollbar-width: thin;
        
  
}

#temp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#titulo {
    background: 
  linear-gradient(to right, 
    hsl(0, 0%, 21%), /* cor mais forte na borda esquerda */
    hsl(202, 4%, 40%) 50%, /* cor base no centro */
    hsl(0, 0%, 21%) /* cor mais forte na borda direita */
  );
    width: 100%;
    text-align: center;
}

#cadastro-link {
    text-decoration: underline;
}




  
  /* botão hamburguer escondido no desktop */
#menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: white;
}  
   
  /* media query para telas menores que 700px */
  @media (max-width: 700px) {
    nav {
        justify-content: flex-start; /* ou center, dependendo do design desejado */
        padding-left: 10px; /* opcional, pra dar espaçamento do botão */
    }

    #menu-toggle {
      display: block;
    }
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: #078d34;;
      top: 100%;
      left: 0;
      width: 100%;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .menu a {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      margin: 0;
    }
    .menu.show {
      display: flex;
    }
}
