
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Caveat', 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #0FDB54;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}

header{
    height: 60px;
    background-image: url('../img/paredeTerra.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex; /* Torna o header um contêiner flexível */
    justify-content: center; /* Alinha a imagem horizontalmente */
    align-items: center;

}

nav {
    height: 40px;
    background-image: url(../img/parede\ de\ folhas\ vivas.png);
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: space-evenly;
    
}

a{
    text-decoration: none;
}

main {
    flex: 1;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 50px 15px 50px;
    gap: 15px;
}


footer {
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 40px;
}

.form {
    width: 60%;
    height: auto; /* Ajusta a altura para o conteúdo */
    border: 3px solid #0FDB54;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Duas colunas flexíveis */
    grid-template-areas: 
        "nome-label nome-label data-label data-label"
        "nome nome data data"
        "pergunta pergunta informacoes-label informacoes-label"
        "fauna-label fauna informacoes informacoes"
        "flora-label flora informacoes informacoes"
        "upload-label upload-label informacoes informacoes"
        "upload upload informacoes informacoes"
        ". button button .";
    gap: 20px;
}

.nome{
    display: flex;
    flex-direction: column;
    grid-area: nome;
    border:2px solid #0FDB54;
    border-radius: 5px;
    max-width: 600px;
}

.data-label {
    display: flex;
    flex-direction: column;
    grid-area: data-label;
}
.data-atualizacao {
    display: flex;
    flex-direction: column;
    grid-area: data;
    max-width: 300px;
    border:2px solid #0FDB54;
    border-radius: 5px;
}

.pergunta-opcao{
    display: flex;
    flex-direction: column;
    grid-area: pergunta;
    align-items: center; 
}
.fauna-label {
    display: flex;
    flex-direction: column;
    grid-area: fauna-label;
    align-items: center;
}
.fauna {
    display: flex;
    flex-direction: column;
    grid-area: fauna;
    align-items: center;
}

.flora-label {
    display: flex;
    flex-direction: column;
    grid-area: flora-label;
    align-items: center;
}
.flora {
    display: flex;
    flex-direction: column;
    grid-area: flora;
    align-items: center;
}


.informacoes-label {
    display: flex;
    flex-direction: column;
    grid-area: informacoes-label;
}
.informacoes {
    display: flex;
    flex-direction: column;
    grid-area: informacoes;
    border:2px solid #0FDB54;
    border-radius: 5px;
    max-width: 600px;
    resize: none;
}

.upload-label {
    display: flex;
    flex-direction: column;
    grid-area: upload-label;
}
.upload {
    display: flex;
    flex-direction: column;
    grid-area: upload;
    font-size: 16px;
}

button {
    width: 100%;
    grid-area: button;
    padding: 10px;
    margin: 10px;
    background-color: #353535;
    border: 2px solid #0FDB54;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0FB43A;
    color: aliceblue;
}

.card {
    min-width: 220px;
    max-width: 220px;
    height: 300px;
    border: 3px solid #0FDB54;
    border-radius: 10px;
    background-image: url('../img/fundoMontanhas.png');
    background-size: cover;
    padding: 10px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #353535;
    
    
}

.titulo-card {
    width: 100%;
    height: 32px;
    background-image: url('../img/images.png');
    background-size: cover;
    color:#353535;
    text-align: center;

    
    
}

.conteudo-card {
    width: 90%;
    height: 100px;
    background-image: url('../img/images.png');
    background-size: contain;
    color:#353535;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    overflow: auto;
    scrollbar-width: thin;
        
  
}




.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


